<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>br.com.consorciolimpagyn.havalecotrip.notif-refresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Haval EcoTrip</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>br.com.consorciolimpagyn.havalecotrip</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>havalecotrip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>google-signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.757576020219-bl2kofq49ksrpfgk4nt2g0k2qq00u7o6</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSBonjourServices</key>
	<array>
		<string>_havalobd._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Conecta direto ao carro na mesma rede Wi-Fi para telemetria e comandos com baixa latência.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>lock.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Travar</string>
			<key>UIApplicationShortcutItemType</key>
			<string>br.com.consorciolimpagyn.havalecotrip.lock_close</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>action</key>
				<string>lock_close</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>lock.open.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Destravar</string>
			<key>UIApplicationShortcutItemType</key>
			<string>br.com.consorciolimpagyn.havalecotrip.lock_open</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>action</key>
				<string>lock_open</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>power.circle.fill</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Ligar motor</string>
			<key>UIApplicationShortcutItemType</key>
			<string>br.com.consorciolimpagyn.havalecotrip.engine_on</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>action</key>
				<string>engine_on</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>power.circle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Desligar motor</string>
			<key>UIApplicationShortcutItemType</key>
			<string>br.com.consorciolimpagyn.havalecotrip.engine_off</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>action</key>
				<string>engine_off</string>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
